@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
body{font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;}

#navbar .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 24px;
    transition: all 0.5s;
}

.dropdown-toggle:after {
    content: none
}