@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
      font-family: 'Montserrat', sans-serif;
      background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
}

:root {
      --main:#E86174;                                                                                                                                                                                                                                
      --black: #212529;
}

.nav-link:hover {
      color: var(--main);
      font-weight: 500;
}                                                                                                                                                                                                                                                                                                                                                     

.btn-main 
{     background-color: var(--main);
      border: solid 1px var(--black);
      font-size: smaller;
      font-weight: 500;
      text-transform: uppercase;
      border-radius: 15px;
      transition: 0.5s;
}

.btn-main:hover {
      background-color: var(--black);
      color: white;
      transform: scale(1.1);
      cursor: pointer;
}

.btn-outline {
      border: solid 1px var(--black);
      border-radius: 15px;
      font-size: smaller;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.5s;
}

.btn-outline:hover {
      border: solid 1px var(--main);
      color: var(--main);
      transform: scale(1.1);
      cursor: pointer;
}

.bg-main {
      background-color: var(--main);
}

.c-black {
      color: var(--black);
}
.c-main {
      color: var(--main);
}

.header-carousel {
      height: 100%;
  }
  
  .btn-carousel,
  .btn-carousel:focus {
      background-color: var(--main);
      color: var(--black);
      transition: all 0.5s;
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  
  .btn-carousel:hover {
      background-color: var(--black);
      color: white;
  }
  
  .header-carousel-next {
      position: absolute;
      left: 710px;
      top: calc(90% - 210px);
      z-index: 998;
  }
  
  .header-carousel-prev {
      position: absolute;
      left: 710px;
      top: calc(90% - 265px);
      z-index: 998;
  }
  
  .box-ann {
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
  }

  .box-ann:hover {
      transform: scale(1.1);
      filter: blur(5);
  }

